ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-image: url("https://static1.squarespace.com/static/5a5830f9b07869340f17c92f/5a7a442b71c10b8aa398a4e4/5ded47e9c8c6fd1d1c7a7dc4/1575833929325/9e8d855bd2c81878ee887703e61f36fc.jpg?format=1000w");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-text {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-text h1 {
  font-size: 5rem;
}

.ceremony-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.ceremony-picture img {
  height: 35vh;
}
